* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}

.header {
  background-color: bisque;
  padding: 20px 0;
}
.header .container .header-top {
  display: flex;
  align-items: center;
}
.header .container .header-top h1 {
  font-size: 30px;
}
.header .container .header-top .search {
  margin-left: 20px;
  width: 70%;
}
.header .container .header-top .search input {
  display: block;
  width: 100%;
  padding: 10px 30px;
  border-radius: 30px 0 0 30px;
  border: 1px solid;
}
.header .container .header-top .btn-search {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 0 30px 30px 0;
  margin-right: 20px;
}
.header .container .header-top .shopping {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 20px;
}
.header .container .header-top .shopping i {
  font-size: 20px;
}
.header .container .header-top .user {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 20px;
}
.header .container .header-top .user i {
  font-size: 20px;
}
.header .container .nav-bar {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}
.header .container .nav-bar a {
  text-decoration: none;
  color: white;
}

.carousel .swiper {
  width: 100%;
  padding-bottom: 50px;
}
.carousel .swiper .swiper-wrapper .swiper-slide {
  background-position: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.carousel .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.polyci {
  background-color: #ced4da;
  padding: 30px 0;
}
.polyci .container .row .item {
  text-align: center;
  padding: 0 20px;
}
.polyci .container .row .item i {
  font-size: 30px;
  color: rgb(85, 77, 78);
}
.polyci .container .row .item p {
  margin-top: 15px;
  color: rgb(85, 77, 78);
}

.hot-sale {
  padding: 50px 0;
}
.hot-sale .container .hot-sale-btn {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
}

.slide {
  margin: 30px 0;
}

.swiper-wrapper .swiper-slide {
  padding: 30px;
}
.swiper-wrapper .swiper-slide .item-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.swiper-wrapper .swiper-slide .item-card .card-img {
  text-align: center;
}
.swiper-wrapper .swiper-slide .item-card .card-img img {
  width: 50%;
}
.swiper-wrapper .swiper-slide .item-card .card-body {
  margin-top: 50px;
  text-align: center;
}
.swiper-wrapper .swiper-slide .item-card .card-body h3 {
  font-size: 20px;
  color: #dc3545;
  height: 45px;
  margin-bottom: 30px;
}
.swiper-wrapper .swiper-slide .item-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.swiper-wrapper .swiper-slide .item-card .card-footer .buy {
  margin-right: 10px;
  font-size: 13px;
}
.swiper-wrapper .swiper-slide .item-card .card-footer .shopping-cart {
  font-size: 13px;
}

.product {
  padding: 50px 0;
}
.product .container .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
}
.product .container .product-header .brand a {
  text-decoration: none;
  color: #915319;
  margin: 10px;
}
.product .container .product-header .brand :hover {
  color: #f5c89d;
}
.product .container .product-header .show {
  border: none;
  background-color: #fff;
}

.footer {
  background-color: #ced4da;
  padding: 50px 0;
}
.footer .container .row .fTLinks .ft-head {
  color: #f28d7d;
}
.footer .container .row .fTLinks .ft-ct ul {
  list-style: none;
  padding: 0;
}
.footer .container .row .fTLinks .ft-ct ul li {
  margin-top: 20px;
}
.footer .container .row .fTLinks .ft-ct ul li :hover {
  color: coral;
}
.footer .container .row .fTLinks .ft-ct ul li a {
  text-decoration: none;
  color: #000;
}